<!DOCTYPE html>
{#  导入静态资源  #}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
{# 导入base页面 #}
{% include 'base.html' %}
</head>
<body>
{# csrf保护 #}
{% csrf_token %}
    <h3>忘记密码</h3>
    <div>
        <form>
            请输入用户名<input id="system_forget_username"><span id="username_span" style="color: red"></span><br>
            请输入邮箱<input id="system_forget_email"><span id="email_span2"  style="color: red"></span>
            <br><input type="button" id="system_forget_btn" value="提交">
        </form>
    </div>
</body>
<script type="text/javascript" src="{% static 'js/system/forget_password.js' %}"></script>
</html>