<!DOCTYPE html>

{#  导入静态资源  #}
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>忘记密码</title>
{# 导入base页面 #}
{% include 'base.html' %}
</head>
<body>
    <h1>这是修改密码页面</h1>
     <div>
        <form>
            请输入原密码<input id="system_update_pwd"><span id="pwd_span4" style="color: red"></span><br>
            请输入新密码<input id="system_update_pwd2"><span id="pwd_span5"  style="color: red"></span><br>
            请确认密码<input id="system_update_pwd3"><span id="pwd_span6"  style="color: red"></span>
            <br><input type="button" id="system_update_btn" value="提交">
        </form>
    </div>
</body>
<script type="text/javascript" src="{% static 'js/system/forget_password.js' %}"></script>
</html>